@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');


form{
    background-color: #f0f7fc;
    max-width: 800px;
    margin: auto;
    padding: 50px 50px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    }

 .registration-form .item{
        border-radius: 20px;
        margin-bottom: 25px;
        padding: 10px 20px;
}
.step {  
    display: none;  
   }  
.step.active {  
    display: block;  
   }

   .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
.styled1 {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(0, 60, 137);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled1:hover {
    background-color: rgb(0, 78, 248);
}

.styled1:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.wrapper{max-width: 600px;height: 100vh;margin: auto;display: flex;align-items: center}.wrapper .image-holder{width: 51%}.wrapper form{width: 100%}.wizard
.steps .current-info, .wizard >.steps .number{display: none}#wizard{min-height: 570px;background: #fff;margin-right: 60px;padding: 107px 75px 65px;margin-top: 20px;margin-bottom: 20px}
.heading{
    color: #000000 ;text-align: center; font-family: 'Times New Roman', Times, serif; margin-bottom: 12px;
}
.main{
    color: #f0f7fc ;text-align: center; font-family: 'Times New Roman', Times, serif; margin-bottom: 12px; 
}
.bg{
    background-color: #06141e; padding-top: 3%; padding-bottom: 3%;
}
.col{
    background-color: #06141e;
}
.form-group{
    margin: 5px;
}
.form-control{
    margin: 5px;
}
